.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%; /* ini penting untuk fleksibilitas */
  max-width: 700px; /* tambah ini agar form bisa memanjang */

  padding: 40px;
  border-radius: 8px;
}

.login-form {
  flex: 1;
  flex-direction: column;
  min-width: 280px;
  max-width: 100%;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.login-form label {
  margin-top: 12px;
  font-weight: bold;
}

.login-form input {
  width: 100%; /* lebih baik daripada fixed 300px */
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.login-options {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 14px;
}

.login-button-1 {
  margin-top: 10px;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

.login-text2 {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.signup-link1 {
  text-decoration: underline;
  color: blue;
}
