.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.login-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-text {
  font-size: 20px;
  margin-bottom: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.login-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #2563eb;
}

.login-text1 {
  font-size: 20px;
  margin-top: 15px;
}

.signup-link-blue {
  color: #3b82f6; /* warna biru */
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.signup-link-blue:hover {
  color: #0051ff; /* biru lebih gelap saat hover */
}
